body {
  .links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .link {
      width: 10%;
      min-width: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input {
        margin: 0 5px 0 0;
      }
    }
  }
}
